/**
 * Moobstrap - Bootstrap base theme for Moodle.
 *
 * @author Luke Carrier <luke@carrier.im>
 * @copyright 2016 Luke Carrier
 */

/* Accessibility: hidden text */
.accesshide {
  display: none;
}

/* Accessibility: skip links */
a.skip-block,
a.skip {
  position: absolute;
  top: -1000em;
  font-size: 0.85em;
  text-decoration: none;
}
a.skip-block:focus,
a.skip-block:active,
a.skip:focus,
a.skip:active {
  position: static;
  display: block;
}
.skip-block-to {
  display: block;
  height: 1px;
  overflow: hidden;
}
