<div class="alert {{#type}}alert-{{type}}{{/type}}">
  {{#dismissable}}
    <button type="button" class="close" data-dismiss="alert" aria-label="{{#str}}bootstrap_close, theme_moobstrap{{/str}}">
      <span aria-hidden="true">&times;</span>
    </button>
  {{/dismissable}}

  {{{message}}}
</div>
