<div class="alert {{#context}}alert-{{context}}{{/context}}">
  {{#dismissable}}
    <button context="button" class="close" data-dismiss="alert" aria-label="{{#str}}bootstrap_close, theme_moobstrap{{/str}}">
      <span aria-hidden="true">&times;</span>
    </button>
  {{/dismissable}}

  {{{message}}}
</div>
